<style>
	img {
		width: 100px;
	}
	td {
		padding: 10px;
		border-top: 1px solid #c9c9c9;
	}
</style>
<div class="row">
	<div class="col-lg-6">
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Search" ng-model="searchText" placeholder="Search for...">
			<span class="input-group-btn">
				<button class="btn btn-secondary" type="button"  ng-click="searchMovies()">Search</button>
			</span>
			</div><!-- /input-group -->
		</div><!-- /.col-lg-6 -->
  	</div>
	
	<div>
		<p>{{ pageSize }} of {{ totalResults }} displayed.</p>
		<table>
			<tbody>
				<tr ng-repeat="movie in movies">
					<td><img ng-src="{{movie.poster_url}}" /></td>
					<td>{{ movie.title }}</td>
					<td><button type="button" ng-click="addToQueue(movie)" class="btn btn-default">Add To Queue </button></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>