<div class="row">
    <p>Over the last two weeks, how often have you been bothered by any of the following problems?</p>
</div>
<hr />
<div class="row">
    <div class="panel panel-default">
        <p>{{ question }}:</p>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group">
                        <input type="radio" ng-model="answer" ng-value="1" id="notAtAll">
                        <label for="notAtAll">Not at all</label>
                    </div>
                    <div class="input-group">
                        <input type="radio" ng-model="answer" ng-value="2" id="severalTimesADay">
                        <label for="severalTimesADay">Several times a day</label>
                    </div>
                    <div class="input-group">
                        <input type="radio" ng-model="answer" ng-value="3" id="moreThanHalfTheDays">
                        <label for="moreThanHalfTheDays">More than half the days</label>
                    </div>
                    <div class="input-group">
                        <input type="radio" ng-model="answer" ng-value="4" id="nearlyEveryDay">
                        <label for="nearlyEveryDay">Nearly every day</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <button type="button" class="btn btn-default navbar-btn" ng-click="saveAndNext()">Next</button>
</div>